APScheduler==3.6.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
future==0.17.1
idna==2.8
itchat==1.2.32
numpy==1.16.4
pandas==0.24.2
prettytable==0.7.2
pycryptodome==3.8.2
pypng==0.0.19
PyQRCode==1.2.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.25.3
wxpy==0.3.9.8
